{% extends "base.html" %}
{% block title %} Home Page {% endblock %}

{% block content %}

<div class="container" style="height: 100%;">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 justify-content-center align-items-center">
      <!-- Image -->
      <div class="justify-content-center">
        <!-- Title -->
        <div class="justify-content-center" style="text-align: center;">
          <b style="font-size: 24px;">Tải ảnh lên</b>
          <h6>Bạn có thể tải lên hoặc nhập đường dẫn ảnh</h6>
        </div>
        <div class="row justify-content-center align-items-center" style="height: 24rem;">
          <div class="panel" style="height: 16rem; width: 16rem; color: white;">
            <input id="file-upload" class="hidden" type="file" accept="image/x-png,image/gif,image/jpeg" name="image" />
            <label for="file-upload" id="file-drag" class="upload-box" style="height: 100%; width: 100%; ">
              <div id="upload-caption">Kéo ảnh hoặc bấm vào để chọn ảnh</div>
              <img id="image-preview" class="hidden" />
            </label>
          </div>
        </div>
        <!-- Controller -->
        <div class="row justify-content-center align-items-center">
          <div class="col-8">
            <label for="basic-url">Link ảnh</label>
            <div class="input-group mb-3">
              <!-- <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Nhập link ảnh</span>
              </div> -->
              <input type="text" placeholder="Nhập link ảnh" class="form-control" id="basic-url"
                aria-describedby="basic-addon3">
            </div>
          </div>
          <div class="col-12 row justify-content-around">
            <button id="btn-submit" class="btn btn-outline-primary" onclick="submitImage();">Nhận dạng</button>
            <button id="btn-clean" type="button" class="btn btn-outline-success" onclick="clearImage();">Làm
              mới</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Result display -->
<div class="col-12 row justify-content-center" style="padding-top: 2rem;">
  <div class="col-12 row justify-content-center align-items-center">
    <svg id="loader" class="hidden" viewBox="0 0 32 32" width="32" height="32">
      <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
    <div id="text-box" class="col-12 justify-content-center align-items-center hidden"
      style="text-align: center; padding-bottom: 3rem;">
      <h3>Kết quả nhận diện</h3>
      <img style="height: 50px; width: 50px;" src="/static/images/scroll1.png" class="responsive">
    </div>
    <div id="image-box" class="row justify-content-center align-items-center hidden">
      <!-- <img id="image-display" /> -->

    </div>
  </div>
</div>

<script src="static/js/scripts.js"></script>

{% endblock %}